numpy>=1.22.0                # muss vor pandas_ta installiert werden
pandas>=1.3.0
pandas_ta==0.3.14b0          # kompatible Version ohne squeeze_pro-Import
ccxt
plotly
streamlit
pytest
Cython>=0.29.30              # für das Kompilieren von Abhängigkeiten
